.sparky-container {
  width: 100px;
  height: 100px;
  margin-bottom: 200px;
  width: 30%;
}

.sparky-dialogue {
  color: greenyellow;
}

.sparky-list-item {
  cursor: pointer;
}

.sparky-face {
  width: 25%;
}
